<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Tarea01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrudSQLite">
        <activity android:name="com.example.Tarea01.CrearCompetidor"/>
        <activity android:name="com.example.Tarea01.Competidor" />
        <activity android:name="com.example.Tarea01.ActualizarCompetencia" />
        <activity android:name="com.example.Tarea01.ActualizarCompetidor" />
        <activity android:name="com.example.Tarea01.CrearCompetencia" />
        <activity android:name="com.example.Tarea01.Competencia" />
        <activity android:name="com.example.Tarea01.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>